* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgrey;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 100px;
}

.cardholder {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 30px 100px 0px;
}
.imgHolder {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  margin-top: -210px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.imgHolder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.nameHolder {
  font-weight: 700;
  font-size: 20px;
  font-family: cursive;
}
.bioHolder {
  width: 90%;
  text-align: justify;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-family: poppins;
  margin-top: 5px;
}

.stackHolder {
  margin-top: 8px;
  font-size: medium;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* img name stack bio button */
